basic:
  hosts:
    postgres_master:
      ansible_host:
      ansible_user:
      ansible_password:
    postgres_replica:
      ansible_host:
      ansible_user:
      ansible_password:
  vars:
    WORKDIR: /app/bot
    DB_HOST: 
    DB_PORT: 5432
    DB_USER: 
    DB_PASSWORD: 
    DB_DATABASE: 
    DB_REPL_HOST: 
    DB_REPL_PORT: 5432
    DB_REPL_USER: 
    DB_REPL_PASSWORD: 
    RM_HOST: 
    RM_PORT: 
    RM_USER: 
    RM_PASSWORD: 
    GIT_URL: https://github.com/quwie/devops_bot.git
    BOT_TOKEN: 
